Ahmed F. El-Sayed - Aircraft Propulsion and Gas Turbine Engines-CRC Press (2017).pdf
myenv/
H.I.H. Saravanamuttoo, G.F.C. Rogers, Paul Straznicky, H. Cohen, - Gas Turbine Theory (2017, Pearson) - libgen.li.pdf
1-s2.0-S2212540X15000346-main.pdf
